<!--The content below is only a placeholder and can be replaced.-->
<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Welcome to {{title}}!
            </h1>
            <h2 class="subtitle">
                Let's do this!
            </h2>
        </div>
    </div>
</section>

<section class="section">
    <div class="container is-fluid">
        <app-structured-text-input></app-structured-text-input>
    </div>
</section>
