<!--The content below is only a placeholder and can be replaced.-->
<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Welcome to {{title}}!
            </h1>
            <h2 class="subtitle" *ngIf="showInput">
                Let's do this!
            </h2>
            <div *ngIf="showResult" style="margin-top: -10px; margin-bottom: -22px;">
                <a class="button is-light" (click)="reset()">
                    <span class="icon">
                        <i class="fa fa-chevron-circle-left"></i>
                    </span>
                    <span>Reset</span>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container is-fluid">
        <div *ngIf="showInput">
            <app-structured-text-input></app-structured-text-input>
            <a class="button is-primary" (click)="sendText()">
                <span class="icon">
                    <i class="fa fa-chevron-circle-right"></i>
                </span>
                <span>Analyze!</span>
            </a>
        </div>
        <div *ngIf="showLoading">
            <app-load-animation></app-load-animation>
        </div>
        <div *ngIf="showResult">
            <app-word-cloud
                [importedWords]="result.importantWords"
            ></app-word-cloud>
            <text
                [importantWords]="result.importantWords"
                [helpfulLinks]="result.helpfulLinks"
                [title]="result.baseText.title"
                [inputArray]="result.baseText.paragraphs"
                [imageLinks]="result.imageLinks"
            ></text>
        </div>
    </div>
</section>
