<div class="field">
    <label class="label">Title</label>
    <div class="control">
        <input class="input" type="text" placeholder="Title of the Article">
    </div>
</div>

<div class="field">
    <label class="label">Content</label>
    <textarea
        class="textarea" style="margin-bottom: 17px;" placeholder="Text"
        [(ngModel)]="wholeText"
    ></textarea>
    <a class="button is-primary">
        <span class="icon">
            <i class="fa fa-chevron-circle-right"></i>
        </span>
        <span>Analyze!</span>
    </a>
</div>
