p{
	margin-bottom:10px;
}

.highlight {
	background-color: #ffff4e;
	position:relative;
	padding-right: -4px;
	border-radius:4px;
}

.picture{
	width:128px;
}

.highlight:hover .wordhover {
	display:inline-block;
	animation-name: wordhover;
	animation-duration: 0.5s;
}

.wordhover:hover {
	display:inline-block;
}

.wordhover {
	display:none;
	position:absolute;
	left:-9px;
	top:-15px;
	cursor:default;
	background-color:#eeeeee;
	z-index:1;
	padding:7px;
	white-space: nowrap;
	min-width:100px;
	max-width:1000px;
}

@keyframes wordhover {
    0%   {opacity:0;}
    100% {opacity:1;}
}
